body,
ul,
li,
h2,
h3,
p,
input,
form {
	padding: 0;
	margin: 0;
	font: 12px "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	border: none;
	vertical-align: top;
}

input {
	outline: none;
}

em {
	font-style: normal;
}

.clearFix:after {
	content: "";
	display: block;
	clear: both;
}

.wrap {
	height: 1200px;
}

body {
	width: 100%;
	background: #f6f6f4;
}


/*head    Start*/

#header {
	width: 100%;
	background: #f0efeb;
}

.top_header {
	width: 72.498%;
	margin: 0 auto;
	padding: 0 24px;
}

.top_header a img {
	width: 104px;
	height: 44px;
	padding: 11px 20px 0 0;
}

.img,
.nav {
	float: left;
}

.Search,
.basket {
	float: right;
}

.nav nav a {
	display: inline-block;
	padding: 23.7px 13px;
	font-size: 13px;
	color: #047da3;
}

.nav nav a:hover {
	background: #e5e5e3;
}

.nav nav a:nth-of-type(1) {
	display: none;
}

.basket {
	margin-left: 16px;
	padding: 0 12px;
}

.basket:hover {
	background: #E5E5E3;
}

.basket:hover span {
	background: #f36323;
}

.basket a strong {
	color: #4083a9;
	font-size: 12px;
	line-height: 62px;
	vertical-align: middle;
	padding-right: 3px;
}

.basket a span {
	display: inline-block;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: #4083a9;
	vertical-align: middle;
	text-align: center;
	line-height: 24px;
	color: #fff;
	font-weight: bold;
}

.Search {
	width: 33.3%;
	border: 1px solid #d5d5d5;
	height: 36px;
	padding: 1px;
	position: relative;
	background: #fff;
	margin-top: 12px;
	border-radius: 3px;
}

.Search p {
	position: absolute;
	left: 1px;
	top: 1px;
	height: 36px;
	background: #f0efeb;
	line-height: 36px;
	text-align: center;
	color: #919191;
	display: inline-block;
	padding: 0 10px;
}

.Search p:hover {
	background: #047da3;
	color: #fff;
}

.searchForm {
	width: 81.2%;
	float: right;
	position: relative;
	height: 36px;
	background: #fff;
	line-height: 36px;
	text-align: right;
}

.searchForm div {
	width: 100%;
	text-align: left;
}

.searchForm input[type="text"] {
	border: none;
	font-size: 13px;
	/*width:64.3%;*/
	padding: 0 5px;
}

.searchForm input[type="submit"] {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 12px;
	font-weight: bold;
	height: 36px;
	line-height: 36px;
	border: none;
	padding: 0 12px;
	color: #fff;
	background: #047da3;
	text-transform: uppercase;
}

.searchForm input[type="submit"]:hover {
	background: #000;
}


/*head    END*/


/*banner  Start*/

#banner {
	width: 100%;
	height: 400px;
	background: url(img/banner.jpg) no-repeat;
}

.bannerTxt {
	width: 72.498%;
	margin: 0 auto;
	height: 100%;
	position: relative;
	font-family: Lora, Georgia, sans-serif;
}

.banTxt_div {
	position: absolute;
	bottom: 0;
	left: 0;
}

.banTxt_d2 {
	float: left;
	margin-bottom: -22px;
}

.bannerTxt h2,
.bannerTxt p,
.banTxt_span {
	color: #fff;
	background: rgba(0, 0, 0, .6);
	padding: 10px 15px;
}

.bannerTxt h2 {
	font-size: 33px;
	font-weight: bold;
	margin-bottom: 2px;
	display: inline-block;
}

.bannerTxt p {
	font-size: 22px;
	line-height: 26px;
	width: 46.93%;
}

.banTxt_span {
	font-size: 12px;
	line-height: 18px;
	padding: 3px 9px;
	display: inline-block;
	float: right;
}

.banTxt_span em {
	color: #ffbf2e
}


/*banner End*/


/*topNav  Start*/

#topNav {
	width: 90%;
	margin: 24px auto 30px;
	max-width: 72.498%;
	background: #fff;
	position: relative;
	border: 1px solid #f0f0ed;
}

.icoHouse {
	height: 23px;
	width: 23px;
	background: url(img/Allico.png) no-repeat 0 0;
	top: 12px;
	left: 20px;
	position: absolute;
	transition: 1s;
	z-index: 2;
	margin-top: 0px;
	margin-bottom: 0;
}

.menu {
	padding-left: 20px;
	height: 38px;
	display: none;
}

.menu h2 {
	line-height: 38px;
	color: #464646;
	position: relative;
}

.menu strong {
	font-weight: normal;
}

.menu span {
	position: absolute;
	right: 20px;
}

#topNav nav {
	padding-left: 42px;
	height: 50px;
}

.icoHouse:hover {
	background-position: -24px 0;
}

#topNav nav a {
	padding: 0 14px;
	font-size: 14px;
	line-height: 50px;
	height: 50px;
	color: #464646;
	float: left;
	position: relative;
	text-transform: uppercase;
}

#topNav a span {
	position: absolute;
	width: 6px;
	height: 8px;
	background: url(img/Allico.png) no-repeat 0 -40px;
	right: 0px;
	top: 22px;
}

#topNav nav a:hover span {
	background-position: 0 -72px;
}


/*topNav  End*/


/*lengthImg  Start*/

#lengthImg {
	width: 72.498%;
	margin: 0 auto 36px;
}

#lengthImg img {
	width: 100%;
	height: 100%;
}

#lengthImg .smallimg {
	display: none;
}


/*lengthImg  End*/


/*part1  Start*/

#part1,
#part2,
#part3,
#part4,
#part5,
#part6,
.footOver {
	width: 72.498%;
	margin: 0 auto;
}

.part1_head {
	width: 100%;
	height: 60px;
	background: #e7e6e2;
	text-align: center;
	position: relative;
	margin-bottom: 30px;
}

.part1_head h2 {
	font-size: 30px;
	height: 60px;
	line-height: 60px;
	font-weight: 300;
}

.part1_head .sp1,
.part1_head .sp2 {
	width: 30px;
	height: 60px;
	position: absolute;
	top: 0;
	background: url(img/Allico.png) no-repeat;
}

.part1_head .sp1 {
	left: -30px;
	background-position: 0 -85px;
}

.part1_head .sp2 {
	right: -30px;
	background-position: 0 -147px;
}

.part1_list {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 56px;
}

.part1_list li {
	display: inline-block;
	width: 32%;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom: 1px solid #e5e5e5;
	background: #fff;
}

.part1_list li:hover .tmc {
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, .2);
	position: absolute;
	left: 0;
	top: 0
}

.part1_list li a {
	display: inline-block;
	position: relative;
	width: 100%;
}

.part1_list li img {
	width: 100%;
	height: 100%;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.part1_list li h2 {
	font-size: 20px;
	/*height: 20px;*/
	line-height: 21px;
	padding: 15px 10px;
	text-align: center;
	color: #4083a9;
	background: #fff;
}


/*part1  End*/


/*subScribe  Start*/

.subScribe {
	width: 100%;
	/*height: 117px;*/
	background: #f4b7d1;
	margin-bottom: 30px;
}

.subCen {
	width: 72.498%;
	margin: 0 auto;
	background: #ef8fb4;
	text-align: center;
	padding: 16px 0;
	position: relative;
}

.subCen .sp1,
.subCen .sp2 {
	position: absolute;
	width: 58px;
	height: 117px;
	background: url(img/Allico.png) no-repeat;
}

.subCen .sp1 {
	left: -58px;
	top: 0;
	background-position: 0 -214px;
}

.subCen .sp2 {
	right: -58px;
	top: 0;
	background-position: 0 -336px;
}

.subCen .label {
	font-size: 16px;
	height: 25px;
	line-height: 25px;
	margin-bottom: 7px;
	color: #fff;
	padding-top: 16px;
}

#Email {
	font-size: 14px;
	height: 16px;
	width: 56.7%;
	line-height: 17px;
	padding: 12px 7px;
	border: none;
	border-radius: 3px;
}

.emInput {
	padding: 10px 0;
}

.emInput input[type="submit"] {
	border: none;
	font-size: 13px;
	letter-spacing: 2px;
	line-height: 19px;
	padding: 10px 13px;
	text-transform: uppercase;
	color: #fff;
	background: rgba(0, 0, 0, .3);
	border-radius: 3px;
}

.emInput input[type="submit"]:hover {
	background: rgba(0, 0, 0, .5);
}


/*subScribe End*/


/*commonHead  Start*/

#part2 {
	padding-top: 16px;
}

.common {
	width: 100%;
	border-top: 1px solid #d5d5d5;
	position: relative;
}

.common h2 {
	text-align: center;
	font-size: 18px;
	height: 21px;
	line-height: 21px;
	padding: 30px 0 34px
}

.common a {
	position: absolute;
	font-size: 12px;
	height: 30px;
	line-height: 32px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	background: #f15b40;
	padding: 0 10px;
	border-radius: 3px;
	right: 0;
	top: 30px;
}

.common .icobg,
.common .ico {
	position: absolute;
	text-align: center;
}

.common .icobg {
	width: 62px;
	height: 32px;
	background: #f6f6f4;
	left: 46.83%;
	top: -16px;
}

.common .ico {
	width: 32px;
	height: 32px;
	background: red url(img/Allico.png) no-repeat 0 -458px;
	left: 48.36%;
	top: -16px;
}


/*commonHead  End*/


/*part2  Start*/

.part2_list {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.part2_list li {
	width: 23.5%;
	background: #fff;
	text-align: center;
	position: relative;
	margin-bottom: 20px;
}

.part2_list li:hover .tmc {
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, .2);
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
}

.part2_list li:hover .xinbg {
	position: absolute;
	width: 25px;
	height: 25px;
	border: 4px solid #fff;
	border-radius: 50%;
	background: #eaeaea;
	right: 5px;
	top: 5px;
	z-index: 3;
}

.part2_list li:hover .xin {
	position: absolute;
	width: 14px;
	height: 11px;
	background: url(img/Allico.png) no-repeat 0 -495px;
	right: 14px;
	top: 17px;
	z-index: 3;
}

.part2_list li .xinbg:hover {
	background: #f1659a;
}

.part2_list li .xin:hover .xinbg {
	background: #f1659a;
}

.part2_list li img {
	width: 87%;
	padding-top: 15px;
}

.part2_list li .txtImg {
	text-align: left;
	width: 87%;
	margin: 14px auto;
}

.txtImg h2 {
	font-size: 13px;
	line-height: 16px;
	font-weight: 300;
	color: #444444;
	margin-bottom: 4px;
}

.txtImg p {
	font-size: 12px;
	line-height: 15px;
	color: #8a8a8a;
}

.txtImg p .fl1 {
	float: left;
}

.txtImg p .fr2 {
	float: right;
}


/*part2  End*/


/*part3  Start*/

#part3 {
	padding-top: 46px;
}

.part3_list {
	margin-bottom: 80px;
}

.part3_list li h2 {
	padding: 19px;
}


/*part3  End*/


/*part4  Start*/

.part4_list {
	margin-bottom: 46px;
}


/*part4  End*/


/*part5   Start*/

.part5_list {
	width: 100%;
}

.part5_list .p5_dli {
	padding: 10px;
	background: #fff;
	position: relative;
	margin-bottom: 24px;
}

.p5_ico1 {
	position: absolute;
	width: 60px;
	height: 60px;
	border: 7px solid #fff;
	border-radius: 50%;
	z-index: 3;
	left: -24px;
	top: -16px;
}

.p5_ico1 img {
	width: 100%;
	border-radius: 50%;
}

.p5_left {
	width: 44.99%;
	float: left;
}

.p5_left h2 {
	margin: 6px 5px 11px 60px;
	display: inline-block;
}

.p5_left h2 a {
	font-size: 16px;
	height: 18px;
	line-height: 18px;
	color: #444;
}

.p5_left p a {
	font-size: 13px;
	height: 25px;
	line-height: 25px;
	color: #047da3;
	padding: 7px 5px 7px 60px;
	display: inline-block;
	position: relative;
}

.leftp {
	background: #f8f7f3;
}

.leftp .xinbg2 {
	position: absolute;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #f9dee8;
	left: 60px;
	top: 7px;
}

.leftp :hover .xinbg2 {
	background: #e8236c;
}

.leftp .xin2 {
	position: absolute;
	width: 14px;
	height: 11px;
	background: url(img/Allico.png) no-repeat 0 -495px;
	left: 66px;
	top: 15px
}

.leftp a strong {
	padding-left: 36px;
	font-weight: normal;
}

.p5_right {
	width: 55%;
	float: left;
	display: flex;
	justify-content: flex-start;
}

.p5_right li {
	width: 14.6%;
	display: inline-block;
	margin-right: 2%;
}

.p5_right li:nth-child(1) {
	margin-left: 2%;
}

.p5_right li a {
	display: inline-block;
	height: 100%;
	position: relative;
}

.p5_right li a:hover .tmc {
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, .2);
	position: absolute;
	left: 0;
	top: 0;
}

.p5_right li img {
	width: 100%;
}


/*part5   End*/


/*part6  Start*/

.p6head {
	text-align: center;
	margin-bottom: 34px;
}

.p6head h2 {
	font-size: 21px;
	color: #4e4e4e;
	line-height: 21px;
	padding: 11px 44px;
	background: #e7e6e2;
	text-align: center;
	display: inline-block;
	font-weight: 300;
	position: relative;
}

.p6head strong {
	font-weight: normal;
}

.p6head span {
	position: absolute;
	width: 20px;
	height: 42px;
	background: url(img/Allico.png) no-repeat;
}

.p6head .lico {
	background-position: 0 -514px;
	left: -20px;
	top: 0
}

.p6head .rico {
	background-position: -30px -514px;
	right: -20px;
	top: 0
}

.logolist {
	text-align: center;
	padding-bottom: 82px;
}

.logolist li {
	width: 120px;
	height: 52px;
	border: 2px solid #fff;
	display: inline-block;
	margin: 6px;
}

.logolist li img {
	width: 100%;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.logolist li :hover img {
	-webkit-filter: grayscale(1%);
	filter: grayscale(1%);
}


/*part6  End*/


/*footer Start*/

#footer {
	border-top: 1px solid #e8e8e4;
	background: #fff;
	padding: 30px 0 60px;
}

.footl {
	float: left;
	width: 55%;
}

.fl_foot {
	margin-bottom: 13px;
}

.fl_foot dl {
	float: left;
	margin-right: 10%;
}

.fl_foot dt {
	font-size: 13px;
	font-weight: bold;
	color: #666;
	margin-bottom: 3px;
}

.fl_foot dd {
	margin: 0;
	font-size: 13px;
	line-height: 20px;
}

.fl_foot dd a {
	color: #047da3
}

.footR {
	float: right;
	width: 45%
}

.footIco {
	display: flex;
	width: 61.9%;
	justify-content: space-between;
}

.footIco a {
	display: inline-block;
	width: 12%;
}

.footIco img {
	width: 100%;
	height: 100%;
	border-radius: 3px;
}

.footR {
	text-align: right;
}

.footR label {
	color: #666;
	font-size: 16px;
	font-weight: bold;
	margin: 8px 0 16px 0;
	display: block;
}

#email {
	font-size: 13px;
	padding: 10px 7px 12px;
	border: 1px solid #dddddd;
	outline: none;
	width: 61.36%;
}

#submitbtn {
	width: 25%;
	background: #b1c042;
	font-size: 12px;
	padding: 12px 15px;
	border: none;
	border-radius: 3px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
}

.footR form {
	margin-bottom: 24px;
}

.foot_img {
	border-top: 1px solid #eeeeee;
}


/*footer End*/


@media all and (max-width:1192px) {
	#part1,
	#part2,
	#part3,
	#part4,
	#part5,
	#part6,
	.footOver,
	.top_header,
	.bannerTxt {
		width: 90%;
		margin: 0 auto;
	}
	#topNav,
	#lengthImg,
	.subCen {
		width: 90%;
		max-width: 90%;
	}
	.subCen .sp2,
	.subCen .sp1 {
		background: none;
	}
	
}

@media all and (max-width:1015px) {
	body {
		overflow-x: hidden;
	}
	.footl {
		width: 100%;
		float: none;
	}
	.fl_foot,
	.footR {
		text-align: center;
		float: none;
		width: 100%;
	}
	.fl_foot dl {
		text-align: left;
		float: none;
		display: inline-block;
	}
	.footIco {
		margin: 24px auto;
		width: 37%;
	}
	#submitbtn {
		width: auto;
	}
	.nav nav a {
		display: none;
	}
	.nav nav a:nth-of-type(1) {
		display: block;
	}
	.Search {
		width: 100%;
		margin-bottom: 12px;
	}
	.Search p {
		width: 10%;
	}
	.searchForm {
		width: 90.5%;
	}
	.searchForm div {
		width: 100%;
	}
	.searchForm input[type="text"] {
		width: 88%;
	}
	
	.p5_left {
		text-align: center;
		width: 100%;
		float: none;
	}
	.p5_right {
		width: 100%;
		float: none;
		/*flex-wrap: wrap;*/
	}
	.p5_right li:nth-child(1) {
		margin-left: 0;
	}
	.p5_right li {
		/*width: 23%;*/
		margin-top: 12px;
	}
}

@media all and (max-width: 946px) {
	#topNav nav,
	.icoHouse {
		display: none;
	}
	.menu {
		display: block;
	}
	#lengthImg .smallimg {
		display: block;
	}
	#lengthImg .bigImg {
		display: none;
	}
	.part1_head h2{
		    font-size: 26px;
	}
	.common {
		text-align: center;
	}
	.common h2 {
		padding-bottom: 16px;
	}
	.common a {
		position: static;
		display: inline-block;
	}
	.part2_list,
	.part3_list,
	.part5_list {
		margin-top: 20px;
	}
	.bannerTxt h2{
		font-size: 30px;
	}
	.bannerTxt p{
		font-size: 18px;
	}
	
}

@media all and (max-width:600px) and (min-width: 376px) {
	.part1_head h2 {
		font-size: 18px;
		white-space: nowrap;
		text-overflow: ellipsis;
		text-align: center;
	}
	.part1_head .sp1,
	.part1_head .sp2 {
		background: none;
	}
	.searchForm {
		width: 84%;
	}
	.bannerTxt h2 {
		font-size: 22px;
		text-align: center;
	}
	.bannerTxt p {
		font-size: 14px;
		text-align: center;
		display: inline-block;
		width: auto;
	}
	.banTxt_d2 {
		margin-bottom: 2px;
		display: inline-block;
		text-align: center;
	}
	#banner {
		height: 250px;
	}
	.part1_list {
		display: inline-block;
		margin-bottom: 0;
	}
	.part1_list li {
		width: 100%;
		margin-bottom: 32px;
	}
	#Email {
		height: 10px;
		width: 80%;
		margin-bottom: 10px;
	}
	
	.common .icobg,
	.common .ico {
		background: none;
	}
	.part2_list li {
		width: 48%;
	}
	
	.part4_list {
		margin-bottom: 20px;
	}
	.p5_ico1 {
		display: none;
	}
	.p5_left h2 {
		margin: 6px 5px 11px 5px;
	}
	.p5_left h2 a {
		font-size: 20px;
	}
	.p5_left p a {
		padding: 7px 5px 7px 5px;
	}
	.leftp .xinbg2 {
		left: 0px;
	}
	.leftp .xin2 {
		left: 6px
	}
	.p5_right{
		flex-wrap: wrap;
	}
	.p5_right li{
		width:23%;
	}
}