body,header,ul,ol,h3,nav,p{margin:0;padding:0;font:12px Arial,"宋体"}
ul,ol{list-style: none;}
a{text-decoration:none;}
.bigL a:hover{text-decoration: underline;}
.djlidiv h3 a:hover{text-decoration: underline;}
img{border:none;vertical-align:top;}
em{font-style: normal;color:#666}
strong{font-weight: normal;}
.clearFix:after{content:"";display:block;clear:both}
.clear{zoom:1;}




.scrolltop{position:fixed;z-index:333;left:50%;margin-left:500px;top:70%;width:45px;height:24px;line-height:24px;padding-top:16px;border:1px solid #d4d4d4;border-radius: 4px;background:#f4f4f4}
.scrolltop a{display: inline-block;width:45px;text-align: center;}
.scrolltop .sctop{position: absolute;left:19px;top:7px;height:4px;width:7px;background:url(img/topbar.png);background-position: -82px -388px;}
/*head  Start*/
.topul{float: left;margin-left:11px;}
.topul a{float: left;height: 70px;font-size: 14px;background:url(img/ico1.png) no-repeat 0 32px;
	margin-left: -2px;text-align: center;line-height: 76px;color:#ccc;position: relative;}
.topul a strong{padding:0 21px 0 21px;height: 70px;}
.leftIco,.rightIco{height:70px;float: left;}

		
.topul .topActive{background:url(img/icopp.png) repeat-x 0px -670px;margin-left:0}
.topActive .leftIco{float:left;background:url(img/topLactive.png) no-repeat left top;}
.topActive .rightIco{float: left;height:70px;background: url(img/topRactive.png) no-repeat right top;}
			
.topul a:hover{height: 70px;background:url(img/icopp.png) repeat-x 0px -742px;}
.topul a:hover .leftIco{height: 70px;float:left;background:url(img/topLactive.png) no-repeat left top;}
.topul a:hover .rightIco{float: left;height:70px;background: url(img/topRactive.png) no-repeat right top;}




.bigHeader{width:100%;height:71px;background:#2f2f2f url(img/topbar.png) repeat-x 0 -80px;overflow: hidden;}
/*position: fixed;z-index: 20;*/
.bigHeader .head{width:982px;margin:0 auto;font-size:14px;position:relative;padding-left: 2px;}
.head h3{height:0px;width:162px;float:left;overflow:hidden;padding-top:42px;background:url(img/topbar.png) no-repeat ;margin-top:15px;}



.sjx{position: absolute;top:63px; left:400px;z-index: 6;width:14px;height:9px;background:url(img/topbar.png) -96px -388px}

.hot{position: absolute;left:92px;top:23px;width:26px;height:19px;background:url(img/topbar.png) no-repeat -191px 0;}
.head .seach{float: right;width:272px;height:70px;margin-right:1px}
.seach .seachIn{float: left;margin-top: 5px;width:210px;height:63px;position: relative;}
.seach .seachbg{position:absolute;width:210px;height:31px;left:0;top:16px;
border:0;background:url(img/topbar.png) 0 -550px;}
.seach input{background:none;position: relative;z-index:3; height:31px;line-height:31px;width:160px;margin-left:33px;border-radius: 14px;
border:none;color:#9b9b9b;margin-top: 15px;outline:none;
}
/*outline:none;去除轮廓线*/
.seach p{float: right;margin-top: 7px;height:70px;line-height:63px;color:#787878;font-size:12px;position: relative;padding-right:23px}
.seach p span{background:url(img/topbar.png) -228px -380px;position: absolute;width:12px;height:7px;left:34px;top:28px;overflow: hidden;}

/*hear  End*/
/* head导航Start */
.nav{width:100%;height:35px;background:url(img/topbar.png) 0 -230px;margin-top: -1px;position: relative;z-index: 2;}
/*margin-top: 69px;float: left;*/
.nav nav{width:982px;margin:0 auto;height:22px;padding-top:8px;}
.nav nav a{color:#fff;float:left;height:20px;line-height: 20px;padding:0 13px;margin-left:36px;}
.active{background: url(img/icopp.png) repeat-x;border-radius: 10px;}
.nav nav a:hover{background: url(img/icopp.png) repeat-x;border-radius: 10px;}
.mt158{margin-left:159px}

/*head导航End*/

/*头部滚动大图Start*/
.topImg{width:100%;height:336px;background: #333b60}
.topWidth{width:984px;margin:0 auto;position: relative;}
.topWidth .icoLd{width:37px;height:63px;position: absolute;left:-57px;top:135px;}
.topWidth .icoRd{width:37px;height:63px;position: absolute;right:-58px;top:135px;}
.topWidth .icoL{position: absolute;left:8px;top:14px;width:18px;height:37px;overflow: hidden;background:url(img/topbar.png) 0 -42px}
.topWidth .icoR{position: absolute;right:8px;top:14px;width:18px;height:37px;overflow: hidden;background:url(img/topbar.png) -18px -42px}
.topWidth .icoLd:hover{ background: #9697a6; background-color: rgba(150,151,166,.5);filter: alpha(opacity:40);}
.topWidth .icoRd:hover{background: #9697a6; background-color: rgba(150,151,166,.5);filter: alpha(opacity:40);}
.l_Img{float: left;width:730px;position:relative;}
.Ccircle{position: absolute;width:730px;text-align: center;top:317px;left:0;padding-left: 264px;}
.Ccircle a{display: inline-block;width:6px;height: 6px;background: url(img/topbar.png) -76px -406px;margin-left:17px;float: left;overflow: hidden;}
.Ccircle a:hover{background: url(img/topbar.png) -84px -406px;}
.r_Img{float: left;position: relative;}
.r_Img img{position: relative;z-index: 2;}
.btn_down{background:url(img/btndown1.png);z-index:3;position:absolute;position:absolute;left:16px;top:212px;width:212px;height:56px;margin-left:3px}
.btn_down:hover{background: url(img/btndown2.png);z-index:3;position:absolute;}
.r_Img p{line-height:32px;color:#8d8d8d;position:absolute;left:15px;top:271px;z-index:6}

/*头部滚动大图End*/

/*中间样式Start*/
.center{width:100%;background:#f5f5f5;}
.bigCen{width:980px;margin:0 auto;border-left:1px solid #d3d3d3;border-right:1px solid #d3d3d3;background:#fff}
.bigL{float: left;width:729px;border-right:1px solid #d4d4d4}
.bigR{float: left;width:250px;height:500px;}
.Lcontent{width:689px;margin:0 auto;}
/*公共头部start*/
.commonHead{position:relative;border-bottom:2px solid #c10d0c;padding-top:17px}
.commonHead h3{font-size:20px;font-family:"微软雅黑";color:#333;line-height: 35px;float: left;padding-left:34px}
.commonHead nav{float: left;line-height: 34px;height:36px;color:#e0cce0;margin-left:7px;}
.commonHead nav a{float: left;color:#666;padding:0 13px;}
.commonHead nav span{float: left;}
.commonHead .moreText{float: right;color:#666;line-height: 38px;height:36px;padding-right:26px}
.icoCircle{position: absolute;left:10px;top:28px;width:14px;height:14px;overflow:hidden;background:url(img/topbar.png) -36px -46px;}
.icoMore{position: absolute;right:12px;top:34px;width:8px;height:6px;overflow:hidden;background:url(img/topbar.png) -36px -64px;}
/*公共头部End*/

/*热门推荐Start*/
.hotList_li .img{width:140px;height:140px;position: relative;}
.img .mask{position: absolute;left: 0;bottom:0;width:100%;height:26px;border-bottom:1px solid #525252;
background:#000;opacity: 0.4;filter:alpha(opacity:40);}
.hotList_li img{width:140px;height:140px;}
.img .icoHeadset{position: absolute;left: 10px;bottom:6px;width:14px;height:12px;overflow:hidden;background:url(img/topbar.png) -52px -46px;}
/*_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="img/ico_ceshi.png",sizingMethod="noscale");*/
.img .text{position: absolute;left: 29px;bottom:5px;color:#ccc}
.img .icoplay{position: absolute;right: 10px;bottom:6px;width:16px;height:16px;overflow:hidden;background:url(img/topbar.png) -68px -46px}
.img .icoplay:hover{background:url(img/topbar.png) -60px -406px}
.hotList_li p{position:relative;line-height: 19px;font-size:13px;color:#000;margin-top:9px;width:140px}
.hotList_li p a{color:#000;padding-left: 42px;}
.hotList_li p .pd0{padding-left:0}
.hotList_li p .icoMusic1a{padding-left: 17px;}
.icoMusic{position: absolute;left:0;width:35px;height:15px;background: url(img/topbar.png) -96px -370px;}
.icoMusic1{left:1px;top:4px;width:10px;height:10px;background-position: -82px -370px;}
.hotList li{float: left;margin:20px 42px 0 0}
.hotList .lastLi{margin-right:0px}
.hotList2 li{margin-top:28px}
/*热门推荐End*/

/*新碟上架开始*/
.ShelvesText{position:relative;border:1px solid #d3d3d3;background:#f5f5f5;margin-top:20px}
.ljianto{position: absolute;left:9px;top:73px;width:7px;height:13px;background:url(img/topbar.png) -16px -312px}
.Rjianto{position: absolute;right:12px;top:73px;width:7px;height:13px;background:url(img/topbar.png) -24px -312px}
.ShelvesText .imgNew img{width:100px;height: 100px;}
.ShelvesText ul{border:1px solid #fff;padding:28px 13px 15px 27px}
.ShelvesText .imgNew{position: relative;width:115px;height:100px;}
.imgR{position: absolute;right:-1px;top:2px;width:16px;height: 96px;background:url(img/topbar.png) 0 -300px}
.imgPlay{position: absolute;right:22px;bottom:6px;width:20px;height: 20px;background:url(img/topbar.png) -88px -46px}
.imgPlay:hover{background:url(img/topbar.png) -108px -46px}
.imgb{position: absolute;left: 0;bottom:-12px;width:105px;height:12px;background:url(img/topbar.png) -16px -300px}
.ShelvesText li h3{margin-top:9px;margin-bottom:4px;position:relative;z-index:3}
.ShelvesText li h3 a{color:#000}
.ShelvesText li p a{color:#666}
.ShelvesText li{float: left;margin-right:14px}
.ShelvesText .newlastli{margin-right:0px}
.newShelves{margin-top:8px}
/*新碟上架结束*/

/*榜单开始*/
.List{margin-top:17px;}
.listContent{border-top:1px solid #f5f5f5;margin-top:19px;border-bottom: 1px solid #c8c8c8;margin-bottom: 40px;}
.listContent .list_li{float:left;display:inline;width:228px;border-left:1px solid #d2d2d2;border-top:1px solid #d3d3d3;background:#fff}

.list_li .list_li_div{width:226px;background:#f4f4f4;margin:1px auto;padding-top:18px}
.SoaringList img{width:80px;height:80px}
.List .list_li{width:228px; overflow: hidden;}
.List .list_li2{width:230px}
.listContent .lastlist_li{border-right:1px solid #d2d2d2;margin-left:-1px;}
.lastlist_li .list_li_div{padding-left: 2px;}
.SoaringList{width:208px;height:80px;margin-left:18px;position:relative;}
.SoaringList a,.SoaringList .img_right{float: left;}
.img_right h3{font-weight: bold;font-size: 14px;color:#333;text-indent: 10px;padding-top:6px;}
.img_right h3 a{color:#333;}
.img_shadow{position: absolute;width:94px;height:16px;left:-8px;bottom:-16px;background:url(img/topbar.png) -16px -328px;}
.list_play{position: absolute;width:22px;height:22px;left:90px;top:32px;background:url(img/topbar.png) -16px -346px;}
.list_Add{position: absolute;width:20px;height:19px;left:122px;top:34px;background:url(img/topbar.png) -42px -346px;}
.list_play:hover{background:url(img/topbar.png) -118px -406px;}
.list_Add:hover{background:url(img/topbar.png) -144px -406px;}

.musicList{margin-top:20px;}
.musicList li{float:left;display:inline;width:214px;height:32px;line-height: 32px;padding-left:13px;position: relative;}
.musicList li:hover .mico1{display: block;}
.musicList li:hover .mico2{display: block;}
.musicList li:hover .mico3{display: block;}
.mico1,.mico2,.mico3{display:none;position: absolute;background: url(img/topbar.png) no-repeat;}
.mico1{right:63px;top:7px;background-position:-64px -346px;width:17px;height:17px}
.mico2{right:40px;top:9px;background-position:-82px -346px;width:14px;height:14px}
.mico3{right:14px;top:9px;background-position:-96px -346px;width:16px;height:14px}

.musicList .bj em{width:37px;height:32px;font-size: 16px;text-align: center;float: left;}
 .bj_div a{color:#000;float: left;width:98px;height:32px;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;margin-left: -1px;}
.bj_div a:hover{text-decoration: underline;}
.bj_div .last_a{padding-left:130px;width:auto}

.red{color:#c10d0c;}
.bgcolor{background:#e8e8e8}
/*榜单结束*/

/*右侧样式开始*/
.top_sec1{border-bottom:1px solid #b1b1b1;padding-bottom: 1px;}
.top_sec{width:248px;margin:0 auto;background:url(img/icopp.png) repeat-x 0 -376px;height:106px;}
.top_sec .p1{color:#666;line-height:22px;width:205px;margin:16px auto 0}
.top_sec .p2{width:100px;margin:16px auto}
.top_sec a{display: inline-block;width:100px;height:31px;border-radius: 3px;
background: url(img/icopp.png) repeat-x 0 -500px;color:#fff;text-align: center;line-height: 31px;}
.top_sec a:hover{background: url(img/icopp.png) repeat-x 0 -564px;}

.r_body{border-top:1px solid #d8d8d8}
.r_bodyCen{width:210px;margin:0 auto;}
.singerHead{border-bottom: 1px solid #ccc;margin-top:1px;}
.singerHead h3{float:left;color:#333;height:23px;padding-top:15px;font-weight: bold;}
.singerHead a{float: right;height:23px;padding-top:15px;color:#666;}

.singerList{padding-top:20px;}
.singerList li{margin-bottom:14px;vertical-align: top;background:#fafafa;}
.singerList li:hover{background:#f4f4f4}
.singerList .lastLiSinger{margin-bottom:0px;}
.singerList li a,.singerList li .lidiv{float: left;}
.lidiv{width:133px;height:60px;padding-left:14px;border:1px solid #e9e9e9;border-left:none}
.lidiv h3{font-size: 14px;font-weight: bold;height: 19px;margin-top:8px}
.lidiv h3 a{color:#333}
.lidiv p{margin-top:8px}
.lidiv p a{color:#666}
.btnSuply{display:block;width:210px;height: 31px;line-height: 31px;text-align: center;border-radius: 5px;
background: url(img/btnsuply1.png) no-repeat;margin:14px auto 15px;}
.btnSuply:hover{background: url(img/btnsuply2.png) no-repeat;}
.btnSuply span{font-weight: bold;color:#333;}

.djList{margin-top:20px;}
.djList li{margin-bottom:10px;vertical-align: top;}
.djList .lastdj{margin-bottom:0px;}
.djimg img{width:40px;height:40px}
.djListli .djimg,.djListli .djlidiv{float: left;}
.djlidiv{margin-left:10px}
.djlidiv h3{font-size:12px;line-height: 21px;}

.djlidiv h3 a{color:#000;background:url(img/icodj.png) no-repeat right 2px;padding-right:15px;}
.djlidiv p{line-height:21px;height:16px;font-size:12px;color:#666;width: 160px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
/*右侧样式结束*/

/*中间样式End*/

/*底部样式开始*/
.foot{padding-bottom:1px;width:100%;height:125px;border-top:1px solid #d5d5d5;background:#f9f9f9 }
.foot1{width:982px;margin:0 auto}
.foot2{width:928px;margin:30px auto auto}
.foot2 div{float: left;position: relative;}
.pl{padding-left:48px;color:#999;}
.foot2 .pl h3,.foot2 .pl p{line-height: 22px;color:#666;padding-left: 1px;}
.foot2 .pl p{color:#999}
.fico1{position: absolute;left:0;top:4px;width: 37px;height:37px;background: url(img/topbar.png) -16px -370px;}
.pc{margin-left:64px;width:390px}
.pc a:hover{text-decoration: underline;}
.pc a,.pc p,.pc span{float: left;color:#9b9b9b;line-height: 22px;}
.pc span{padding-right:3px}
.foot2 .pr{float: right;}
.pr a{line-height: 43px;color:#999;margin-right:2px}
.fico2{position: absolute;right:53px;top:14px;width: 18px;height:16px;background: url(img/topbar.png) -58px -370px;}
/*底部样式结束*/