html,body{
		width:100%;
		height: 100%;
		overflow: hidden;
		cursor: url("../img/cursor.cur"), default; 
		/*overflow: hidden;*/
	}
	*{
		margin:0;
		padding: 0
	}

 #wrapLoad{
      width:100%;
      height: 100%;
      background: #272727 url(../img/clock.png) no-repeat center;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 999;
    }
    #BigClock{
        width: 400px;
	    height: 400px;
	    position: relative;
	    top: 250px;
	    left: 50%;
	    margin-left: -200px;
    }
    #load,#clock,#logo, #date{
      border-radius: 50%;
      position: absolute;
    }
    #load{
      width:132px;
      height: 132px;
      background: #d4af00;
      top:78px;
      left:78px;
      text-align: center;
	  font: bolder 30px/132px "arial";
    }
    #load strong{
      font:bolder 30px/36px arial;
      margin-top: 46px;
      display: block;
    }
    #clock{
      right:81px;
      top:190px;
      width:132px;
      height: 132px;
      background: #c52e15;
      text-align: center;
    }
    #Mrlogo{
      width:64px;
      height: 64px;
      background: #b82678 url(../img/mjslogo.png) center no-repeat;
      top:102px;
      right:102px;
      position: absolute;
      border-radius: 50%;

    }
    #date{
      width:64px;
      height: 64px;
      background: #199ec4;
      bottom:100px;
      left:100px;
      text-align: center;
    }
    #date span{
      display: block;
      font:12px /18px "arial";
    }
    #date #day{
      font-weight: bolder;
      font-size: 18px;
      padding:4px 0;
    }
    #clock span{
      font:bolder 38px/40px "arial";
      margin-top: 46px;
      display: block;
    }
	/*------------------------------------------------------*/
	#bigBox{
		display: block;
		height: 100%;
	}
		#wrap{
			background:#EFDB7A url(../img/bg_home.jpg) no-repeat;
			width: 100%;
   			height: 100%;
			background-size: cover;
			position: relative;
		}
		#logo{
			background: url(../img/logo.png) no-repeat;
			cursor: url("../img/handcursor.cur"), default;
			width: 14.64%;
   			height: 21.92%;
			background-size: contain;
			position: absolute;
			left:6%;
			top:5%;
		}
		#logo_span{
			position: absolute;
		    width: 366px;
		    height: 74px;
		    background: url(../img/clickSuprice.png) no-repeat;
		    left: 18%;
		    top: 15%;
		    opacity: 1;
		}
		#headChild{
			width:25.63%;
			height:75% ;
			position: absolute;
			top:26%;
			left:8%;
		}
		#ChildImg{
			width:100%;
			height: 100%;
			transition:all .2s linear;
			-webkit-transition: all .2s linear;
			background: url('../img/avatar_normal.png') no-repeat 100% 100%;
			background-size: contain;
		}
		#ChildImg:hover{
			background: url('../img/avatar_reaction.png')  no-repeat  100% 100% !important;
			background-size: contain !important;
		}
		#zzc{
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top:0;
			background: #000;
			opacity: 0.8;
			z-index:100;
		}
		#dnImg{
			width: 53%;
    		height: 38.738%;
    		position: absolute;
    		left:0;
    		top:0;
		}
		#dnImg a{
			width:50%;
			height: 100%;
			float: left;
		}
		#dnImg a:hover{
			cursor: url("../img/handcursor.cur"), default;
		}
		#dnImg a:nth-of-type(1){
			background: url(../img/screen_normal.png) no-repeat 100% 100%;
			background-size: contain;
		}
		#dnImg a:nth-of-type(2){
			background: url(../img/screen_full.png) no-repeat 100% 100%;
			background-size: contain;
		}
		#fullsc{
			display: block;
			width:2%;
			height:6%;
			background: url(../img/qp.png) no-repeat  100% 100%;
			background-size: contain;
			position: absolute;
			right: 1.47%;
			top:0px;
			opacity: 0
		}
		#fullsc:hover{
			cursor: url("../img/handcursor.cur"), default;
		}
		#redio{
			width:14.64%;
			height: 22.52%;
			position: absolute;
			right:50px;
			top:80%;
		}
		#redio span{
			position: absolute;
		}
		#redio span:nth-of-type(1){
			background: url(../img/stereo.svg) no-repeat;
			background-size:contain;
			width:82%;
			height: 81%;
		}
		#redio span:nth-of-type(2){
			top: 60%;
			right:5%;
			width:31%;
			height: 49.33%;
			background: url(../img/type_blue.svg) no-repeat;
			background-size:contain;
		}
		#redio span:nth-of-type(3){
			top: 64%;
			right:10%;
			width:31%;
			height: 49.33%;
			background: url(../img/type_green.svg) no-repeat;
			background-size:contain;
		}
		#redio span:nth-of-type(4){
			top: 68%;
			right:17.5%;
			width:31%;
			height: 49.33%;
			background: url(../img/type_orange.svg) no-repeat;
			background-size:contain;
		}
		#imgs{
			width:60%;
			height: 80%;
			position: relative;
			float: right;
			margin-right: 4%;
		}
		#sence{
			width: 100%;
			height: 100%;
			position: absolute;
			top:0;
			list-style: none;
		}
		#sence li{
			position: absolute;
			transition:1s;
		}
		#sence li:nth-of-type(1){
			background: url(../img/bubble_black.png) no-repeat 100% 100%;
			width: 15%;
   			height: 25.2%;
   			background-size: contain;
   			top: 4%;
   			left: 16%;
   			z-index: 2;
		}
		#sence li:nth-of-type(2){
			background: url(../img/bubble_green.png) no-repeat 100% 100%;
			width: 28%;
   			height: 41.2%;
   			background-size: contain;
   			top: 20%;
   			left: 28%;
   			z-index: 4;
		}
		#sence li:nth-of-type(3){
			background: url(../img/bubble_violet.png) no-repeat 100% 100%;
			width: 13%;
    		height: 20%;
    		background-size: contain;
    		top: 2%;
    		left: 50%;
    		z-index: 2;
		}
		#sence li:nth-of-type(4){
			background: url(../img/bubble_orange_large.png) no-repeat 100% 100%;
			    width: 21%;
    		height: 32%;
    		background-size: contain;
    		top: 18%;
    		left: 57%;
    		z-index: 3;
		}
		#sence li:nth-of-type(5){
			background: url(../img/bubble_green_right.png) no-repeat 100% 100%;
			    width: 10%;
   			height: 15.2%;
   			background-size: contain;
   			top: 19%;
   			left: 80%;
   			z-index: 1;
		}
		#sence li:nth-of-type(6){
			background: url(../img/bubble_blue_right.png) no-repeat 100% 100%;
			   width: 18%;
   			height: 30.2%;
   			background-size: contain;
   			top: 38%;
   			left: 78%;
   			z-index: 3;
		}
		#sence li:nth-of-type(7){
			background: url(../img/bubble_violet_large.png) no-repeat 100% 100%;
			    width: 29%;
    		height: 48.2%;
    		background-size: contain;
    		top: 54%;
    		left: 46%;
			z-index:4;
		}
		#sence li:nth-of-type(8){
			background: url(../img/bubble_red.png) no-repeat 100% 100%;
			    width: 20%;
    		height: 30.2%;
    		background-size: contain;
    		top: 70%;
    		left: 20%;
    		z-index: 3;
		}
		#sence li:nth-of-type(9){
			background: url(../img/bubble_blue.png) no-repeat 100% 100%;
			width: 22%;
    		height: 34.2%;
    		background-size: contain;
    		top: 40%;
    		left: 5%;
    		z-index: 3;
		}
		#sence li:nth-of-type(10){
			background: url(../img/bubble_orange.png) no-repeat 100% 100%;
			    width: 10%;
   			height: 15.2%;
   			background-size: contain;
   			top: 96%;
   			left: 35%;
   			z-index: 1;
		}
		#sence li:nth-of-type(11){
			background: url(../img/bubble_red_right.png) no-repeat 100% 100%;
			    width: 18%;
    		height: 28.2%;
    		background-size: contain;
    		top: 68%;
    		left: 76%;
    		z-index: 3;
		}
		@media all and (max-width:1180px){
			#sence li:nth-of-type(6) {
			    top: 42%;
			    left: 78%;
			}
			#sence li:nth-of-type(7) {
			    top: 52%;
			    left: 46%;
			}
			#sence li:nth-of-type(11) {
			    top: 74%;
			    left: 78%;
			}
		}
		@media all and (max-width:1000px){
			#sence li:nth-of-type(1) {
			    top: 8%;
			    left: 16%;
			}
			#sence li:nth-of-type(3) {
			    top: 8%;
			    left: 44%;
			}
			#sence li:nth-of-type(6) {
			    top: 38%;
			    left: 78%;
			}
			#sence li:nth-of-type(8) {
			    top: 66%;
			    left: 24%;
			}
			
			#sence li:nth-of-type(11) {
			    top: 68%;
			    left: 78%;
			}
			#sence li:nth-of-type(10) {
			    top: 90%;
			    left: 44%;
			}
			
		}